@(id: String, form: Form[Lot])

<form role="form" action="@routes.Lot.store(id)" method="post">
    <input type="hidden" name="@form("id").name" id="@form("id").id" value="@form("id").value">
    <input type="hidden" name="@form("location.latitude").name" id="@form("location.latitude").id" value="@form("location.latitude").value">
    <input type="hidden" name="@form("location.longitude").name" id="@form("location.longitude").id" value="@form("location.longitude").value">
    <div class="form-group">
        <label for="@form("title").id">Название</label>
        <input type="text" class="form-control input-sm"
        id="@form("title").id"
        name="@form("title").name"
        value="@form("title").value"
        >
    </div>
    <div class="form-group">
        <label for="@form("location.address.city").id">Город</label>
        <input type="text" class="form-control input-sm"
        id="@form("location.address.city").id"
        name="@form("location.address.city").name"
        value="@form("location.address.city").value"
        >
    </div>
    <div class="form-group">
        <label for="@form("location.address.street").id">Улица</label>
        <input type="text" class="form-control input-sm"
            id="@form("location.address.street").id"
            name="@form("location.address.street").name"
            value="@form("location.address.street").value"
        >
    </div>
    <div class="form-group">
        <label for="@form("location.address.metro").id">Метро</label>
        <input type="text" class="form-control input-sm"
            id="@form("location.address.metro").id"
            name="@form("location.address.metro").name"
            value="@form("location.address.metro").value"
        >
    </div>
    <div class="form-group">
        <label for="@form("location.address.house").id">Дом</label>
        <input type="text" class="form-control input-sm"
            id="@form("location.address.house").id"
            name="@form("location.address.house").name"
            value="@form("location.address.house").value"
        >
    </div>

    <button type="submit">Сохранить</button>
</form>

@helper.form(action = routes.Lot.upload(id), 'enctype -> "multipart/form-data") {
    <div class="form-group">
        <label for="zip">Архив с панорамой</label>
        <input type="file" name="zip" id="zip">
    </div>
    <button type="submit">Загрузить</button>
}
