@(id: String)

@title = {
    Lot #@id
}

@styles = {
    <style title="Default">
        .warning {
            font-weight: bold;
        }
    </style>
}

@scripts = {
    <script src="@routes.Assets.at("javascripts/pano2vr_player.js")"></script>
    <script src="@routes.Assets.at("javascripts/skin.js")"></script>
    <script>
        // hide URL field on the iPhone/iPod touch
        function hideUrlBar() {
        document.getElementsByTagName("body")[0].style.marginTop="1px";
        window.scrollTo(0, 1);
        }
        window.addEventListener("load", hideUrlBar);
        window.addEventListener("resize", hideUrlBar);
        window.addEventListener("orientationchange", hideUrlBar);

        // create the panorama player with the container
        pano=new pano2vrPlayer("container");
        // add the skin object
        skin=new pano2vrSkin(pano);
        // load the configuration
        pano.readConfigUrl("/lot/@id/out.xml");
        // hide the URL bar on the iPhone
        hideUrlBar();
    </script>
}

@main(title.toString(), styles, scripts){
    <h1>@title</h1>
    <div id="container" style="width:640px;height:480px;"></div>
}
