@(menu: Html = Html(""))
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><img src="@routes.Assets.at("/public", "logo/logo.svg")" height="20"></span>
                <a class="navbar-brand" href="/">Infostark</a>
            </div>
            @menu
            <ul class="nav navbar-nav navbar-right">
                <li><a href="call:79502222890"><h1>+7 950-222-28-90</h1></a></li>
            </ul>
        </div>
    </nav>

